.page-enter-active,
.page-leave-active {
  transition: opacity 1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 1s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}
.swal2-title, .swal2-actions, .swal2-content {
  font-family: Roboto, Arial, sans-serif;
}